<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doctor List</title>
</head>
<body>
    <h1>Available Doctor</h1>
    <form action="/doctors" method="get">
        <select name="filter">
            <option value="" disabled selected>--Please Choose--</option>
            <% divisions.forEach(el => { %>
                <option value="<%= el.id %>"><%= el.name %></option>
            <% }); %>
        </select>
        <input type="submit" value="Filter">
        <button type="button" onclick="window.location.href='/doctors'">Reset</button>
    </form><br>
    <form action="/doctors" method="get">
        <input type="text" name="search">
        <input type="submit" value="search">
    </form>
    <table border="1">
        <thead>
            <tr>
                <th>No</th>
                <th>Name</th>
                <th>Division</th>
            </tr>
        </thead>
        <tbody>
            <% doctors.forEach((el, index) => { %>
                <tr>
                    <td><%= ++index %></td>
                    <td><%= formatter(el.name) %></td>
                    <td><%= el.Division.name %></td>
                    <td>
                        <button type="button" onclick="window.location.href='/appointment/<%= el.id %> %>'">Make An Appointment</button>
                    </td>
                </tr>
            <% }); %>
        </tbody>
    </table>
</body>
</html>